# MODIS SCFG

In [2]:
import xarray as xr

filename = '../data_store/data/SCFG/dap.ceda.ac.uk/2018/10/20181001-ESACCI-L3C_SNOW-SCFG-MODIS_TERRA-fv2.0.nc'

# Open the NetCDF file using xarray
data = xr.open_dataset(filename)

# Display the dataset
# data.close()

In [9]:
import matplotlib.pyplot as plt
import numpy as np

# Define the latitude and longitude boundaries for the region of interest
lat_min, lat_max = 67.361833 - 1, 67.361833 + 1
lon_min, lon_max = 26.634154 - 1, 26.634154 + 1

# Select the subset of the data within the specified region
scfg_subset = data['scfg'].sel(lat=slice(lat_min, lat_max), lon=slice(lon_min, lon_max)).isel(time=0)

# Set values greater than 100 (which represent flags) to NaN
scfg_subset_cleaned = scfg_subset.where(scfg_subset <= 100)

# # Plot the subset data with flag values set to NaN
# plt.figure(figsize=(10, 6))
# scfg_subset_cleaned.plot(cmap='viridis')
# plt.title(f'SCFG Data on 2018-10-01 for Sodankyla')
# plt.show()

# Define the exact latitude and longitude of interest
lat_val = 67.361833
lon_val = 26.634154

# Select the value at the specified latitude and longitude
scfg_value = scfg_subset_cleaned.sel(lat=lat_val, lon=lon_val, method='nearest').values

# Display the value
print(f"SCFG value at (lat={lat_val}, lon={lon_val}): {scfg_value}")

SCFG value at (lat=67.361833, lon=26.634154): nan

In [82]:
import pandas as pd
import xarray as xr
import numpy as np
from datetime import datetime
import os

df=pd.read_pickle('five_sites_data_snow_cc.pkl')

# df['SCFG'] = None

print(df['date'].unique().shape[0])
i = 114
print(df['date'].unique()[i])

# Function to convert date string from 'dd/mm/yyyy' to 'yyyymmdd'
def format_date_to_filename(date_str):
    return datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d')

file_date = format_date_to_filename(df['date'].unique()[i])
year = file_date[:4]
month = file_date[4:6]
file_path = f'../data_store/data/SCFG/dap.ceda.ac.uk/{year}/{month}/{file_date}-ESACCI-L3C_SNOW-SCFG-MODIS_TERRA-fv2.0.nc'

if not os.path.exists(file_path):
    print('No')

else:
    dataset = xr.open_dataset(file_path)
    scfg_data = dataset['scfg']
    
    for index, row in df.iterrows():
        if row['date'] == df['date'].unique()[i]:
            scfg_value_array = scfg_data.sel(lat=row['latitude'], lon=row['longitude'], method='nearest').isel(time=0).values
            scfg_value = scfg_value_array.item() if isinstance(scfg_value_array, np.ndarray) else scfg_value_array
            if scfg_value > 100:
                df.loc[index, 'SCFG'] = None
            else:
                df.loc[index, 'SCFG'] = scfg_value
            # print(type(scfg_value))

# df.to_pickle('five_sites_data_snow_cc.pkl')

df[df['date'] == df['date'].unique()[i]]['SCFG']

124
19/05/2021
No

2405    None
Name: SCFG, dtype: object

In [2]:
# df = pd.read_pickle('five_sites_data_snow_cc.pkl')
df

,camera,date,pvpg,y_strong,y_weak,x_strong,x_weak,longitude,latitude,meanEgstrong,...,n_photons,data_quantity,FSC,TreeSnow,JointSnow,Confidence,MxD10A1F,cc,MxD10A1,SCFG
0,sodankyla_full,12/01/2019,-0.058595,0.418798,NaN,7.147356,NaN,26.718589,67.314333,3.432135,...,566.400000,5.0,1.0,0.0,1.0,1.0,211.0,44.764267,211.0,None
1,sodankyla_full,12/01/2019,-0.110795,0.693207,0.281346,6.256682,2.539343,26.718589,67.319333,3.665784,...,373.625000,6.0,1.0,0.0,1.0,1.0,211.0,37.09684,211.0,None
2,sodankyla_full,12/01/2019,-1.307186,5.701271,1.996741,4.361483,1.527510,26.718589,67.334333,4.188318,...,469.250000,6.0,1.0,0.0,1.0,1.0,211.0,23.694944,211.0,None
3,sodankyla_full,12/01/2019,-0.244739,1.431021,NaN,5.847133,NaN,26.718589,67.339333,3.917523,...,681.000000,2.0,1.0,0.0,1.0,1.0,211.0,38.108734,211.0,None
4,sodankyla_full,12/01/2019,-0.069991,0.656128,NaN,9.374517,NaN,26.731579,67.339333,3.940102,...,698.000000,2.0,1.0,0.0,1.0,1.0,211.0,26.21748,211.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,torgnon,21/08/2023,-13.666654,3.111109,NaN,0.227642,NaN,7.542963,45.791300,0.150931,...,201.500000,2.0,0.0,0.0,0.0,1.0,0.0,None,0.0,None
2454,torgnon,21/08/2023,-4.053511,1.892976,NaN,0.466997,NaN,7.542963,45.796300,0.135823,...,224.000000,2.0,0.0,0.0,0.0,1.0,0.0,None,0.0,None
2455,torgnon,21/08/2023,-5.881129,1.735232,NaN,0.295051,NaN,7.542963,45.806300,0.106401,...,184.800000,5.0,0.0,0.0,0.0,1.0,0.0,None,0.0,None
2456,torgnon,21/08/2023,-76.049238,13.056713,NaN,0.171688,NaN,7.542963,45.811300,0.162791,...,157.666667,3.0,0.0,0.0,0.0,1.0,0.0,None,0.0,None
2457,torgnon,21/08/2023,-9.166151,1.373624,NaN,0.149858,NaN,7.507088,45.841300,0.083451,...,119.333333,3.0,0.0,0.0,0.0,1.0,0.0,None,0.0,None